<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sprout BI</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
            <nav id="navbar">
                <div class="nav">
                    <ul class="nav-list">
                        <li>
                          <a href="#about">About</a>
                        </li>
                        <li>
                          <a href="#contact">Contact</a>
                        </li>
                      </ul>
                    <button>Sign In</button>
                </div>
            </nav>
            <div class="header-content">
                <h1>Get the best from your data.</h1>
                <h3>Build Resilience. Increase Profitability.</h3>
                <p>Enter your email to get started.</p>
                <form class="email-signup">
                    <input type="email" placeholder="Enter your email address" required>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    
        <div id="about">
            <h1>ABOUT THE COMPANY</h1>
            <hr class="hr-text gradient" data-content="Our Services">
            <div class="row">
                <div class="text-col">
                    <h2>Data Analytics</h2>
                    <p>Sprout harnesses the power of Data Analytics to help you unlock
                        valuable insights and drive sustainable growth. Our cutting edge solutions are designed to
                        transform raw data into actionable intelligence, empowering you to make informed decisions
                        that maximize profitability, optimize operations and enhance customer experience.
                    </p>
                </div>
                <div class="img-col">
                    <img src="marketing.png">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="img-col">
                    <img src="pie-chart.png">
                </div>
                <div class="text-col">
                    <h2>Data Visualization</h2>
                    <p>Bring your data to life with our intuitive dashboards and powerful data Visualization
                        tools. Our interactive platform enables you to explore key metrics, uncover actionable insights
                        and share your findings with your colleagues with ease. With our dynamic charts, graphs, and real-time updates, 
                        you can easily identify trends, monitor performance, and make data-driven decisions that drive growth.
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="text-col">
                    <h2>Goal Setting</h2>
                    <p>At Sprout, we understand that data-driven insights are most valuable when coupled
                        with clearly defined goals and effective tracking mechanisms. Our goal-setting functionalities
                        empower you to establish measurable objectives aligned with your business model. Our robust tracking
                        mechanisms and real-time dashboards enable you to monitor progress continuously, making corrections
                        as needed to ensure you stay on track. 
                    </p>
                </div>
                <div class="img-col">
                    <img src="goal.png">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="img-col">
                    <img src="worksheet.png">
                </div>
                <div class="text-col">
                    <h2>Records Management</h2>
                    <p>Effective analytics relies on accurate, complete and well-organised records. Sprout offers you
                        comprehensive records management solutions to ensure the integrity and accessibility of your data.
                        Our intuitive user interface streamline the data entry and retrieval processes, minimizing errors and 
                        protecting the integrity of your data. Besides the benefit of having a centralized repository of all your
                        records, our robust security solutions help prevent unauthorized access and modification of your data.
                    </p>
                </div>
            </div>
        </div>
        <div id="contact">
            <h2><i class="fa-solid fa-question footer-icon"></i>Got any questions?</h2>
            <h2><i class="fa-thin fa-phone footer-icon"></i>Call +254 794 121 244</h2>
            <p><i class="fa fa-address-card footer-icon" aria-hidden="true"></i>P.O BOX 12345, Nairobi</p>
            <p class="copyright-txt">Sprout Kenya</p>
        </div>

    </body>
</html>