.stats {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
h3 {
    font-size: medium;
    font-weight: bold;
    margin: 0;
}
.date-range-picker{
    font-size: small;
    background-color: rgb(40, 37, 37);
    color: white;
}
.grouped-bar-container {
    margin-top: 1rem;
}
.DateInput_input{
    background-color: rgb(40, 37, 37);
    color: white;
    font-size: small;
}
.DateRangePickerInput {
    background-color: rgb(40, 37, 37);
    color: white;
    border-color: #333333;
}
.chart {
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
#bar-chart-two{
    margin: 0;
}
#line-chart {
    margin-left: -145px;
}
.row {
    margin: 0;
}
#pie-chart {
    margin-left: 650px;
    margin-top: -250px;
}
